<h1>Discounts Show Page</h1>

<b><p>Bulk discount is <%= @discount.discount %>% off <%= @discount.item_quantity %> items</b></p>

<p>Customer must purchase at minimum <%= @discount.item_quantity %> items in order to qualify for the <%= @discount.discount %>% discount to be applied to transaction.